streamlit
python-dotenv
openai
langchain
langchain-openai
langgraph
rank_bm25
spacy
faiss-cpu
tqdm
pandas
numpy
scikit-learn
requests
PyYAML
langchain-community
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
